{extend name="public:base" /}
{block name="body"}
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <label for="desc" class="layui-form-label">评价内容</label>
                        <div class="layui-input-block">
                            <textarea id="desc" name="content" lay-verify="required" class="layui-textarea"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="desc" class="layui-form-label">专业名称(选填)</label>
                        <div class="layui-input-block">
                            <textarea id="desc" name="major"  class="layui-textarea"></textarea>
                        </div>
                    </div>
                    注：默认评价请将最低分和最大分设置为0
                    <div class="layui-form-item">
                        <label for="desc" class="layui-form-label">最低分</label>
                        <div class="layui-input-inline">
                            <input type="text" id="L_username" name="star" placeholder="0" value="0" required="" lay-verify="required" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-item">
                        <label for="desc" class="layui-form-label">最大分</label>
                        <div class="layui-input-inline">
                            <input type="text" id="L_username" name="end" placeholder="0" value="0" required="" lay-verify="required" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="L_repass" class="layui-form-label"></label>
                        <button class="layui-btn" lay-filter="add" lay-submit="" id="upload-bth">增加</button></div>
                </form>
            </div>
        </div>
        <script>layui.use(['form','upload', 'layer','jquery'],
            function() {
                $ = layui.jquery;
                var form = layui.form,
                layer = layui.layer;

                //监听提交
                form.on('submit(add)', function(data) {
                    $.post("{:url('Grade/add')}",{data:data.field},function (data) {
                        // layer.alert(data);return false;
                        if(data.status == 1){
                            //发异步，把数据提交给php
                            layer.alert(data.msg, {icon: 6}, function() {
                                //关闭当前frame
                                xadmin.close();

                                // 可以对父窗口进行刷新
                                xadmin.father_reload();
                            });
                        }else{
                            //发异步，把数据提交给php
                            layer.alert(data.msg, {icon: 5}, function() {
                                //关闭当前frame
                                xadmin.close();

                                // 可以对父窗口进行刷新
                                xadmin.father_reload();
                            });
                        }
                    });
                    return false;
                });

            });</script>
        <script>var _hmt = _hmt || []; (function() {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();</script>
    </body>
{/block}