{extend name="public:base" /}
{block name="body"}
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <label for="L_username" class="layui-form-label">
                            专业名称</label>
                        <div class="layui-input-inline">
                            <input type="text" id="L_username" name="major" required="" value="{$data.major}" lay-verify="required" autocomplete="off" class="layui-input"></div>
                        <label for="desc" class="layui-form-label">专业图片</label>
                        <img src="/entrance_exam/{$data.major_img}" id="img1" style="max-width: 100px;max-height: 56px;margin-top: 10px">
                        <button type="button" class="layui-btn" id="test1">
                            <i class="layui-icon">&#xe67c;</i>上传专业图片
                        </button>
                    </div>
                    <div class="layui-form-item">
                        <label for="L_repass" class="layui-form-label"></label>
                        <button class="layui-btn" lay-filter="add" lay-submit="">增加</button></div>
                    <input type="hidden" name="id" value="{$data.id}">
                </form>
            </div>
        </div>
        <script>layui.use(['form', 'upload','layer','jquery'],
            function() {
                $ = layui.jquery;
                var form = layui.form,
                layer = layui.layer;

                //上传专业图片
                var upload = layui.upload;
                //执行实例
                upload.render({
                    elem: '#test1' //绑定元素
                    ,url: "{:url('Major/upload_major_img')}" //上传接口
                    ,accept: 'images'  //指定允许上传时校验的文件类型
                    ,acceptMime: 'image/*'  //只显示图片文件
                    // ,multiple: true  //是否允许多文件上传
                    // ,auto: false //选择文件后不自动上传
                    // ,bindAction: '#upload-bth' //指向一个按钮触发上传
                    ,data:{
                        id: '{$data.id}'
                    }
                    ,done: function(res){
                        //上传完毕回调
                        if(res.status==1){
                            layer.msg('上传成功,已解析数据',{icon:6});
                            $('#img1').attr("src",res.upload);
                            // location.href="{:url('Single/index')}";
                        }else{
                            layer.msg('解析失败',{icon:5});
                        }
                    }
                    ,error: function(){
                        //请求异常回调
                    }
                });

                //监听提交
                form.on('submit(add)', function(data) {
                    $.post("{:url('Major/edit')}",{data:data.field},function (data) {
                        // layer.alert(data);return false;
                        if(data.status == 1){
                            //发异步，把数据提交给php
                            layer.alert(data.msg, {icon: 6}, function() {
                                //关闭当前frame
                                xadmin.close();

                                // 可以对父窗口进行刷新
                                xadmin.father_reload();
                            });
                        }else{
                            //发异步，把数据提交给php
                            layer.alert(data.msg, {icon: 5}, function() {
                                //关闭当前frame
                                xadmin.close();

                                // 可以对父窗口进行刷新
                                xadmin.father_reload();
                            });
                        }
                    });
                    return false;
                });

            });</script>
        <script>var _hmt = _hmt || []; (function() {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();</script>
    </body>
{/block}